@font-face {
font-family: 'HermanoAlto';
src: url('assets/fonts/HermanoAltoRound.woff2') format('woff2'),
url('assets/fonts/HermanoAltoRound.woff') format('woff');
font-weight: normal;
font-style: normal;
}
/* Troubleshooting
* {
outline: 1px solid red;
}
*/
body{
background-color:#2950D8;
color:white;
}
a, a:visited{
text-decoration: none;
color: #7C9CF2;
}
header {
display: flex;
justify-content: space-between;
align-items: center;
margin:2.5em 5em;
}
#credit{
font-size: 0.8em;
font-family:Helvetica,Arial, sans-serif;
color: #7C9CF2;
}
#credit-link{
text-decoration: underline;
}
#credit-link:hover{
color: #a7bcf7;
}
#card-container{
margin:8em;
display:grid;
grid-template-columns: repeat(3, 213px);
grid-template-rows: 225px;
column-gap: 6em;
justify-content: center;
}
#card-container > div{
border-radius: 15px;
border: 1px solid #7193eb;
flex-wrap: wrap;
display: flex;
flex-flow: column;
justify-content: center;
text-align: center;
}
#card-container > div:hover{
background: #0c2e85;
border: 1px solid #00dcda;
cursor: pointer;
}
.card-title{
font-family: 'HermanoAlto',Helvetica,Arial,sans-serif;
font-size: 1.8em;
padding: 0.7em 0;
}
@media(max-width:600px){
header{
flex-direction: column;
margin: 2.5em 2.5em;
}
#credit{
padding-top: 0.5em;
}
}
@media(max-width:425px){
header{
margin: 2.5em 1em;
}
#credit{
font-size: 0.7em;
}
}